<!--The content below is only a placeholder and can be replaced.-->
<html>
  <header>
    <input type="checkbox" id="btn-menu" />
    <label for="btn-menu"
      ><svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-border-width"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"
        /></svg
    ></label>
    <nav class="menu">
      <ul>
        <li><a href="">Usuarios</a></li>
        <li><a href="">Sociedades</a></li>
        <li><a href="">Division</a></li>
        <li><a href="">Subdivisiones</a></li>
        <li><a href="">Biometricos</a></li>
        <li><a href="">Asociaciones</a></li>
        <li><a href="">Empleados</a></li>
      </ul>
    </nav>
  </header>

  <body></body>
</html>
